
$base-color: rgb(138, 149, 133);

@import "gallery";

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto; color: #222;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif; font-weight: 700; color: #555;
    &:not(:first-child) { margin-top: 40px; }
    margin-bottom: 15px;
}
.serif { font-family: "Playfair Display", serif; font-weight: 700; color: #555; }

body {
    padding-bottom: 40px;
}

nav {
    text-align: center;
    .nav-item {
        font-family: "Playfair Display", serif; font-weight: 500;
        display: inline-block; line-height: 40px; font-size: 18px; min-width: 100px;
        padding: 0 30px; color: $base-color; text-decoration: none;
        border-top: 4px solid transparent; border-bottom: 4px solid transparent;
        margin-bottom: 10px;
    }
    .nav-item:hover { text-decoration: underline; }
    .nav-item.current {
        border-top: 4px solid $base-color; border-bottom: 4px solid $base-color;
    }
    margin: 40px 0;
}

.btn-primary {
    background-color: $base-color; color: white; border: none;
    &:hover { background-color: darken($base-color, 10%); }
    &:active { background-color: darken($base-color, 20%) !important; }
}

.registries {
    display: flex; flex-wrap: wrap; justify-content: center;
    margin-top: 40px;
    .registry {
        width: 200px; margin: 10px; padding: 10px; border: 2px solid $base-color;
        text-decoration: none; text-align: center;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0);
        transition: box-shadow 0.2s ease, transform 0.2s ease;
        img { width: 100%; height: 80px; object-fit: contain; }
        h3 {
            font-family: "Inter", sans-serif;
            color: black; font-size: 18px;
            margin: 10px 0;
        }
    }
    .registry:hover {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    }
}

.rsvp-circle {
    width: 1.5rem;
    height: 1.5rem;
    font-family: monospace;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    margin-right: 0.5rem;
    &.yes { background-color: $base-color; }
    &.no { background-color: gray; }
}
